* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: 'EB Garamond';
    background-color: #c5d4e5;
  }
  
  /*Pop-up button*/
  .popup {
  display: none;
  background-color: #8e96b1;
  border: 10px;
  border-color: #563957;
  border-style:solid;
  width: 400px;
  height:400px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 2px;
  font-family: "EB garamond";
  color: white;
  display: none;
  text-align:center;
  padding: 30px;
  font-size: x-large;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #8e96b1;
}

/* Full-width input fields */
.form-container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #e0a558;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


b{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
 


/*Navigation bar*/
  .navbar {
    background: #563957;
    height: 150px;
    width: 100%;

  }
  
  .navbar .logo{
    display: flex;
    margin-right:500px;
    font-size: 50px;
    display: inline-block;
  }

  .navbar ul {
    float: right;
    margin-right: 20px;
    text-align: center;
  }
  

  .navbar ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 5px;
  }
  
  .navbar ul li a {
    color: white;
    font-size: 23px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .navbar a:hover {
    color: black;
    background: #e0a558;
    transition: .5s;
  }
  
  .navbar li:link{
    color: black;
  }
  
  .logo img {
    float:left;
    width: 240px;
    height:240px;
    position:absolute;
    top: 20px;
    left: 60px;
    border: 5px solid #e0a558;
    border-radius: 50%;
  }

.Toptitle {
  color: white;
  font-family: 'EB Garamond';
  position: fixed;
  left: 350px;
  top: 50px;
  font-size: 60px;
}


  
  @media(max-width: 768px) {
    .img {
      width: 100%;
    }
  }
  

  /* Footer */
  .container-bot { 
    background-color: #563957; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 155px;
    padding: 40px 0;
    color: white;
    font-family: 'EB Garamond';
  }

.container-bot ul li a {
    color: white;
  
  }


  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  
  
  
  .footer-grid .DomainName {
    display: flex;
    font-size: 30pt;
    position: fixed;
    left: 20px;
    bottom: 95px;
    text-shadow: 2px 2px 5px gray;
  }



  .footer-grid .Explore {
    font-size: 14pt;
    position: fixed;
    left: 675px;
    bottom: 15px;
    text-shadow: 2px 2px 5px gray;
  }
  
  .footer-grid .Social {
    font-size: 14pt;
    position: fixed;
    right: 770px;
    bottom: 40px;
    text-shadow: 2px 2px 5px gray;
  }

  .Email-Submit{
    position: fixed;
    right: 20px;
    bottom: 40px;
    font-size: 20px;
    font-weight: normal;
  }

  .container-bot .submit {
    display: flex;
    padding: 10px 10px;
    color: black;
    font-weight: 200;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
  }
  
  .container-bot input[type='email'] {
    width: 230px;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #D9D9D9;
  }

  .container-bot .button {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 14px;
    cursor:pointer;
    width: 100px; 
    height: 30px;
  }

  .text-sm {
    font-weight: normal;
    padding-bottom: 20px;
  }
  
  /*About Page CSS*/
  .Bio {
    background-color: lightgrey;
    width: 600px;
    height: 520px;
    padding: 35px;
    margin-left: 350px;
    margin-top: 90px;
    box-shadow: 5px 5px;
    position: fixed;
    font-size: 23px;
  }

  .Bio p{
    font-size: 33px;
    color: black;
  }

  .Bio text{
    margin-left: 1px;
  }

  

  .photo img{
    position:fixed;
    width: 350px;
    height: 350px;
    left:1000px;
    top: 400px;
    border-radius: 50%;
    box-shadow: 5px 5px;

  }
